{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    // Enforced code style
    "rules": {
      "indent": ["error", 2],
      "semi": ["error", "always"],
      "quotes": [ "error", "single"],
      "@typescript-eslint/no-explicit-any": "off"
    },
    // All node globals goes here
    "globals": {
        "console": true,
        "process": true
    }
  }